<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>201442377</string>
				<key>name</key>
				<string>王旭</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>201442378</string>
				<key>name</key>
				<string>李赛</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>201442300</string>
				<key>name</key>
				<string>张芳</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>201442379</string>
				<key>name</key>
				<string>高雅</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>201442555</string>
				<key>name</key>
				<string>陈子栋</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
		</array>
		<key>name</key>
		<string>电子信息工程1班</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>小学好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>杨晓倩</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>小学好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>钟凯</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>小学好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>吕小倩</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>小学好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>王悦</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>小学好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>马越</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>女</string>
			</dict>
		</array>
		<key>name</key>
		<string>电子信息工程2班</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>201442301</string>
				<key>name</key>
				<string>刘永宽</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>201442302</string>
				<key>name</key>
				<string>张帅</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>201442304</string>
				<key>name</key>
				<string>刘华</string>
				<key>vip</key>
				<integer>1</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>201442304</string>
				<key>name</key>
				<string>冯琳</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>201442305</string>
				<key>name</key>
				<string>燕琦琦</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>201442306</string>
				<key>name</key>
				<string>张猛</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>201442307</string>
				<key>name</key>
				<string>张鸿飞</string>
				<key>vip</key>
				<integer>0</integer>
				<key>telephone</key>
				<string>18131371659</string>
				<key>sex</key>
				<string>男</string>
			</dict>
		</array>
		<key>name</key>
		<string>电子信息工程3班</string>
		<key>online</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
